<div class="main">
    <div class="titles">
        <h1><b>WASM Python Tutorial</b></h1>
        <h3>By Carlos Lopez & Luis Wilson</h3>
    </div>
    <div align="right">
        <a mat-icon-button href="https://github.com/iodide-project/pyodide/releases/" target="_blank">
            Pyodide Releases
            <mat-icon>open_in_new</mat-icon>
        </a>
    </div>
    
    
    <div style="padding-top: 30px;">
        In this tutotial, we are going to show you how to use Python on the web!<br><br>
        But not with Django or some fancy server. But with the wonder that is WebAssembler 
        (through the amazing prohect Pyodide)! Don't worry. We will show you how to install Pyodide, and 2 usage examples of Python on the web.
    </div>
    <br><br>
    <mat-card>
        <mat-card-title>Installation</mat-card-title>
        <br>
        <mat-card-content>
            In order to use Pyodide, first we have to download the latest version tarball from the 
            <a href="https://github.com/iodide-project/pyodide/releases/">"latest releases"</a>
            in the Pyodide repository.
            Once downloaded, we have to extract the components into a local 'pyodide_local' folder and create an 'index.html' file where we will put our code.
            <br><br>
            <span><b>Index.html Template:</b></span>
            <pre>
                <code [highlight]="code">
                </code>
            </pre>
        </mat-card-content>
    </mat-card>
    
    <br><br>

    <mat-card>
        <mat-card-title>Usage</mat-card-title>
        <br>
        <mat-card-content>
            Once the contents of Pyodide are in place, the usage is really simple.
            As it can be seen in the html template up above, the only things you need to get it working are three chunks of code:
            <br><br>
            <span><b>1) The address of the page you're working on:</b></span>
            Here, "window.languagePluginUrl" will set the address you indicate.

            <pre>
                <code [highlight]="code2"></code>
            </pre>

            <span><b>2) A script tag with the "pyodide.js" file as source:</b></span>
            "pyodide.js" can be found in the files you extracted from pyodide.

            <pre>
                <code [highlight]="code3"></code>
            </pre>

            <span><b>3) The Pyodide Plugin Loader:</b></span>
            All the Python code you wish to execute must be located in this function, inside a Pyodide wrapper function.

            <pre>
                <code [highlight]="code4"></code>
            </pre>

            There are several functions built in Pyodide that allow the code to run, but this is the default one.
        </mat-card-content>
    </mat-card>

    <div style="padding-top: 30px;">
        Now, check out these two awsome examples of Pyodide in action:
    </div>
    <br>
    <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile routerLink="/example-one"> Example 1 </mat-grid-tile>
        <mat-grid-tile routerLink="/example-two"> Example 2 </mat-grid-tile>
    </mat-grid-list>


    

</div>