<div class="main">
    <h1><b>Generating HTML code directly from Python</b></h1>
    <h3>Example #1</h3>

    <div>
        For our first example, we are going to generate HTML code directly from Python.
        In order to do that, we will manipulate a div element from Python with the following code:
    </div>

    <pre><code [highlight]="code"></code></pre>
    
    <div>
        And we will just run it, like with the previous test:
    </div>

    <pre><code [highlight]="code2"></code></pre>

    Resulting page:
    <br><br>
    <img src="../../assets/one.png">
    <br><br><br>
    <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile routerLink="/"> Back to Intro</mat-grid-tile>
        <mat-grid-tile routerLink="/example-two"> Example 2 </mat-grid-tile>
    </mat-grid-list>
</div>
